@use '../../global/variables.scss';

:host {
  display: flex;
  align-items: center;
  gap: 8px;
  .link-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 24px;
    font-family: variables.$font-family;
    color: variables.$gray-dark2;

    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;

      font-size: 24px;
      font-weight: 400;
      font-family: variables.$font-family;
      color: variables.$gray-dark2;
      text-decoration: none;

      :visited,
      :hover {
        color: variables.$gray-dark2;
      }
      &.first {
        font-weight: 700;
      }
    }
    .thingy {
      cursor: default;
    }
  }
}
