@use '../../global/variables.scss';

:host {
  .table {
    width: 100%;
    // x, y, blur, radius
    border-spacing: 0;

    .header {
      .cell {
        background-color: hsl(197, 41%, 87%);
        border-left: 1px solid rgb(174, 208, 221);
        padding: 8px 12px;

        font-size: 18px;
        font-weight: 400;
        font-family: variables.$font-family;
        color: variables.$gray-dark2;
      }
    }
    .row {
      cursor: pointer;
      .cell {
        border-top: 1px solid rgb(174, 208, 221);
        border-left: 1px solid rgb(174, 208, 221);
        padding: 8px 12px;

        font-size: 18px;
        font-weight: 400;
        font-family: variables.$font-family;
        color: variables.$gray-dark2;
      }
      :first-child {
        border-left: none;
      }
    }
  }
}
