//https://stackoverflow.com/questions/17598996/sass-use-variables-across-multiple-files

$font-family: 'Segoe UI';
$gray-dark1: #3a3a3a;
$gray-dark2: #565656;
$gray-light1: #c7c9ca;
// x, y, blur, radius
$box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.15);
