//https://stackoverflow.com/questions/17598996/sass-use-variables-across-multiple-files

$font-family: 'Segoe UI';
$gray-dark1: #3a3a3a;
$gray-dark2: #565656;
$gray-light1: #c7c9ca;
// x, y, blur, radius
$box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.15);

$main-color-blue-1: rgb(4, 107, 167, 1);
$main-color-blue-2: rgb(1, 200, 240, 1);

$main-color-blue-1-hover: rgb(4, 107, 167, 0.5);
$main-color-blue-2-hover: rgb(1, 200, 240, 0.5);

$main-color-red-1: rgb(255, 102, 82);
$main-color-red-2: rgb(224, 92, 92);

$main-color-red-1-hover: rgb(255, 102, 82, 0.5);
$main-color-red-2-hover: rgb(224, 92, 92, 0.5);

$main-color-green-1: rgb(61, 139, 45);
$main-color-green-2: rgb(99, 187, 103);

$main-color-green-1-hover: rgba(61, 139, 45, 0.5);
$main-color-green-2-hover: rgb(99, 187, 103, 0.5);
