@use '../../global/variables.scss';

:host {
  .page-container {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    .filter-container {
      display: flex;
      flex-direction: row;
      .filter-name {
      }
    }
    .preview-grid {
      display: flex;
      flex-wrap: wrap;
      // grid-template-columns: 1fr 1fr 1fr;
      gap: 48px;
      max-width: fit-content;
      margin: 0 auto;

      preview-tile {
        flex-grow: 0;
      }
    }

    .chart-index-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 8px;
      // x, y, blur, radius
      box-shadow: variables.$box-shadow;

      .title {
        font-size: 24px;
        font-weight: 700;
        font-family: variables.$font-family;
        fill: variables.$gray-dark2;
        align-self: center;
        padding-bottom: 24px;
      }
    }
  }
}
