:host {
  svg {
    border: 1px solid #c7c9ca;
  }
}

.inside {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Segoe UI';
  fill: #565656;
}

.label {
  font-size: 12px;
  font-weight: normal;
  font-family: 'Segoe UI';
  fill: #565656;
}

.labelValues {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Segoe UI';
  fill: #3a3a3a;
  text-anchor: end;
}

.totalValue {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Segoe UI';
  fill: #3a3a3a;
  text-anchor: middle;
}

.totalText {
  font-size: 18px;
  font-weight: normal;
  font-family: 'Segoe UI';
  fill: #c7c9ca;
  text-anchor: middle;
}
