.inside {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Segoe UI';
  fill: #565656;
}

.label {
  line-height: 20px;
  font-size: 12px;
  font-weight: normal;
  font-family: 'Segoe UI';
  fill: #565656;
}

.labelValues {
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Segoe UI';
  fill: #3a3a3a;
}
