@use '../../global/variables.scss';

:host {
  .table {
    width: 100%;
    // x, y, blur, radius
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border-spacing: 0;

    .header {
      .cell {
        background-color: hsl(197, 41%, 87%);
        border-left: 1px solid rgb(174, 208, 221);
        padding: 8px 12px;

        font-size: 18px;
        font-weight: 400;
        font-family: variables.$font-family;
        fill: variables.$gray-dark2;
        dominant-baseline: hanging; // vertical alignment
      }
      :first-child {
        border-radius: 5px 0 0 0;
      }
      :last-child {
        border-radius: 0 5px 0 0;
      }
    }
    .row {
      cursor: pointer;
      .cell {
        border-top: 1px solid rgb(174, 208, 221);
        border-left: 1px solid rgb(174, 208, 221);
        padding: 8px 12px;

        font-size: 18px;
        font-weight: 400;
        font-family: variables.$font-family;
        fill: variables.$gray-dark2;
        dominant-baseline: hanging; // vertical alignment
      }
      :first-child {
        border-left: none;
      }
    }
  }
}
