@use '../../global/variables.scss';

:host {
  .title {
    font-size: 24px;
    font-weight: 700;
    font-family: variables.$font-family;
    color: variables.$gray-dark2;
  }

  .preview-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    max-width: fit-content;
    margin: 0 auto;
    > * {
      // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Mastering_wrapping_of_flex_items
      flex: 1 1 140px;
    }
  }
}
