@use '../../global/variables.scss';

:host {
  .page-container {
    max-width: 1440px;
    // top left bottom right
    margin: 0 auto 48px auto;
    padding-top: 114px; // top = 66 (header-bar) + 48 (gap)
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}
