@use '../../global/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  .title {
    font-size: 24px;
    font-weight: 700;
    font-family: variables.$font-family;
    color: variables.$gray-dark2;
    align-self: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  box-shadow: variables.$box-shadow;
  border-radius: 8px;

  .table {
    width: 100%;
    // x, y, blur, radius
    border-spacing: 0;

    .header {
      .cell {
        background-color: hsl(197, 41%, 87%);
        border-left: 1px solid rgb(174, 208, 221);
        padding: 8px 12px;

        font-size: 18px;
        font-weight: 400;
        font-family: variables.$font-family;
        color: variables.$gray-dark2;
      }
    }
    .row {
      cursor: pointer;
      .cell {
        border-top: 1px solid rgb(174, 208, 221);
        border-left: 1px solid rgb(174, 208, 221);
        padding: 8px 12px;

        font-size: 18px;
        font-weight: 400;
        font-family: variables.$font-family;
        color: variables.$gray-dark2;
        svg {
          vertical-align: middle;
        }
      }
      :first-child {
        border-left: none;
      }
    }
  }
}
